<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; Static HTML Output Testing</title>
	<atom:link href="https://statictester.gitlab.io/category/uncategorized2/feed/" rel="self" type="application/rss+xml" />
	<link>http://statictester.gitlab.io/</link>
	<description>GitLab Pages - Changed site content test</description>
	<lastBuildDate>Sat, 16 May 2020 12:14:38 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.1</generator>
	<item>
		<title>may 13 post 2</title>
		<link>https://statictester.gitlab.io/may-13-post-2/</link>
					<comments>https://statictester.gitlab.io/may-13-post-2/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Wed, 13 May 2020 09:30:38 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://statictester.gitlab.io/?p=29</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>https://statictester.gitlab.io/may-13-post-2/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>may 13 post 1</title>
		<link>https://statictester.gitlab.io/may-13-post-1/</link>
					<comments>https://statictester.gitlab.io/may-13-post-1/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Wed, 13 May 2020 09:30:07 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://statictester.gitlab.io/?p=27</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[]]></content:encoded>
					
					<wfw:commentRss>https://statictester.gitlab.io/may-13-post-1/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Sample post</title>
		<link>https://statictester.gitlab.io/hello-world/</link>
					<comments>https://statictester.gitlab.io/hello-world/#comments</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 03 Apr 2020 06:43:11 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://statictester.gitlab.io/?p=1</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[
<figure class="wp-block-image size-large"><img src="https://statictester.gitlab.io/wp-content/uploads/2020/05/thisguyblogs-1.jpg" alt="" class="wp-image-22"/></figure>



<figure class="wp-block-image size-large"><img src="https://i.stack.imgur.com/VK8Xa.jpg" alt=""/></figure>
]]></content:encoded>
					
					<wfw:commentRss>https://statictester.gitlab.io/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
