<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: may 13 post 2	</title>
	<atom:link href="https://statictester.gitlab.io/may-13-post-2/feed/" rel="self" type="application/rss+xml" />
	<link>https://statictester.gitlab.io/may-13-post-2/</link>
	<description>GitLab Pages - Changed site content test</description>
	<lastBuildDate>Wed, 13 May 2020 09:30:38 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.1</generator>
</channel>
</rss>
